In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [65]:
df=pd.read_csv('StudentsPerformance.csv')

In [66]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [67]:
df['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [68]:
df['race/ethnicity'].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
gender                         1000 non-null object
race/ethnicity                 1000 non-null object
parental level of education    1000 non-null object
lunch                          1000 non-null object
test preparation course        1000 non-null object
math score                     1000 non-null int64
reading score                  1000 non-null int64
writing score                  1000 non-null int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [70]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [71]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [72]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

In [73]:
for col_name in df.columns:
    if(df[col_name].dtype == 'object'):
        df[col_name]= df[col_name].astype('category')
        df[col_name] = df[col_name].cat.codes

In [74]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,1,1,1,1,72,72,74
1,0,2,4,1,0,69,90,88
2,0,1,3,1,1,90,95,93
3,1,0,0,0,1,47,57,44
4,1,2,4,1,1,76,78,75
...,...,...,...,...,...,...,...,...
995,0,4,3,1,0,88,99,95
996,1,2,2,0,1,62,55,55
997,0,2,2,0,0,59,71,65
998,0,3,4,1,0,68,78,77
999,0,3,4,0,1,77,86,86

In [75]:
X=df.iloc[:,1:5]

In [76]:
X

,race/ethnicity,parental level of education,lunch,test preparation course
0,1,1,1,1
1,2,4,1,0
2,1,3,1,1
3,0,0,0,1
4,2,4,1,1
...,...,...,...,...
995,4,3,1,0
996,2,2,0,1
997,2,2,0,0
998,3,4,1,0
999,3,4,0,1

In [77]:
y=df.iloc[:,5]

In [78]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [79]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [80]:
 from sklearn.linear_model import LinearRegression
LinReg=LinearRegression()
LinReg.fit(xTrain,yTrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [81]:
pred=LinReg.predict(xTest)

In [82]:
pred

array([59.73345717, 57.91206803, 62.81563002, 57.96355083, 66.50142524,
       71.99495602, 68.27133158, 68.86130036, 77.40764065, 70.09272073,
       66.50142524, 55.5007101 , 74.35483114, 68.86130036, 59.22433454,
       56.73213047, 65.27000488, 73.17489358, 62.26867818, 69.53211529,
       64.09006732, 60.32342595, 66.44994244, 65.85997366, 59.73345717,
       57.91206803, 66.44994244, 71.35350444, 56.73213047, 72.5849248 ,
       54.32077254, 72.5849248 , 64.03858452, 65.27000488, 65.22698795,
       68.86130036, 69.50275195, 73.76486236, 74.94479992, 70.09272073,
       68.91278317, 56.73213047, 62.85864696, 77.35615785, 57.96355083,
       74.94479992, 65.91145647, 55.55219291, 75.58625151, 57.32209925,
       68.86130036, 55.5007101 , 54.96222413, 67.6813628 , 65.81695673,
       59.73345717, 60.32342595, 68.27133158, 76.81767187, 60.32342595,
       59.73345717, 78.58757821, 66.45840831, 68.86130036, 69.5835981 ,
       61.04572368, 70.09272073, 65.91145647, 69.5835981 , 67.76220895,
       71.27265829, 60.32342595, 70.68268951, 71.35350444, 62.73478387,
       71.27265829, 69.50275195, 70.09272073, 67.6813628 , 63.50009854,
       72.5849248 , 70.68268951, 73.09404743, 69.5835981 , 79.17754699,
       71.27265829, 59.73345717, 72.533442  , 64.04705039, 57.32209925,
       57.91206803, 65.27000488, 55.5007101 , 54.91074132, 71.32414109,
       67.6813628 , 54.32077254, 55.5007101 , 57.32209925, 65.27000488,
       69.5835981 , 62.73478387, 63.50009854, 57.99291418, 68.86130036,
       60.4042721 , 61.63569246, 56.14216169, 70.09272073, 78.58757821,
       77.40764065, 77.35615785, 60.32342595, 56.14216169, 71.32414109,
       71.32414109, 65.86843953, 56.14216169, 59.17285174, 69.5835981 ,
       60.32342595, 57.37358205, 72.5849248 , 65.27000488, 68.22831465,
       63.45708161, 68.32281439, 64.04705039, 74.40631395, 71.32414109,
       76.17622029, 68.91278317, 54.32077254, 69.50275195, 71.99495602,
       62.14481509, 76.76618907, 65.22698795, 68.86130036, 68.91278317,
       76.76618907, 67.6813628 , 68.91278317, 67.6813628 , 54.96222413,
       53.14083498, 50.13950828, 51.90941462, 61.04572368, 71.32414109,
       66.50142524, 68.91278317, 76.17622029, 68.22831465, 72.5849248 ,
       67.63834587, 60.32342595, 66.50142524, 68.86130036, 62.85864696,
       68.32281439, 68.86130036, 51.90941462, 68.86130036, 65.22698795,
       61.08874062, 62.81563002, 67.6813628 , 71.32414109, 68.91278317,
       68.86130036, 68.81828343, 55.55219291, 63.99556758, 66.50142524,
       71.32414109, 65.22698795, 65.27000488, 79.76751577, 68.91278317,
       71.35350444, 57.96355083, 57.99291418, 67.6813628 , 64.04705039,
       70.09272073, 74.94479992, 73.09404743, 57.32209925, 66.50142524,
       64.09006732, 63.44861574, 61.63569246, 66.44994244, 50.72947706,
       57.96355083, 58.63436576, 69.5835981 , 70.12208407, 67.17224017])

In [85]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(yTest, pred))
print(rms)

13.57835785877022

In [86]:
from sklearn import linear_model
clf = linear_model.Lasso(alpha=0.1)
clf.fit(xTrain,yTrain)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [90]:
print(clf.coef_)

[ 2.35360341 -0.56507548 10.51062434 -5.64474299]

In [91]:
print(clf.intercept_)

59.24123806293618

In [93]:
pred1=clf.predict(xTest)

In [96]:
from sklearn.metrics import r2_score

print(np.sqrt(mean_squared_error(yTest,pred1))) 
print(r2_score(yTest, pred1))

13.573375215746214
0.18695845595338434

In [102]:
from sklearn.linear_model import Ridge

rr = Ridge(alpha=0.01)
rr.fit(xTrain, yTrain) 
pred_train_rr= rr.predict(xTrain)
print(np.sqrt(mean_squared_error(yTrain,pred_train_rr)))
print(r2_score(yTrain, pred_train_rr))

pred_test_rr= rr.predict(xTest)
print(np.sqrt(mean_squared_error(yTest,pred_test_rr))) 
print(r2_score(yTest, pred_test_rr))

13.54847552007326
0.2033570662638965
13.578349278010279
0.18636245677152208